 <ul class="basic-sub-nav">
        <li><a href="{{ path('card') }}">Card home</a></li>
        <li><a href="{{ path('card_shuffle') }}">Shuffle deck</a></li>
        <li><a href="{{ path('card_draw') }}">Draw card</a></li>
        <li><a href="{{ path('card_deck') }}">Show deck</a></li>
        <li><a href="{{ path('draw_nr_cards', {num: 5}) }}">Draw 5 cards</a></li>
</ul>